body {
    text-align: center;
    padding: 20px;
    background-color: rgb(218, 251, 255);
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}